# Diretórios e arquivos gerados pela build
/bin/
/pkg/

# Módulos do Go
# /go.sum
# /go.mod

# Arquivos temporários de IDEs
.idea/
.vscode/
*.iml

# Logs e arquivos temporários
*.log
*.tmp

# Configurações específicas do sistema
*.DS_Store
Thumbs.db

# Arquivos binários executáveis
*.exe
*.out
*.app

# Arquivos gerados por testes
*.test
coverage.out
